# General ignores
.DS_Store
build
out
kotlin-js-store

# IntelliJ ignores
*.iml
/*.ipr

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/*.iml
/.idea/modules
/.idea/libraries-with-intellij-classes.xml

# Gradle ignores
.gradle
site/src/jvmMain/config.properties
gradle.properties

/.idea/misc.xml
/site/src/jsMain/kotlin/org/luisjulliana/bridalshower/components/README.md
/site/src/jsMain/kotlin/org/luisjulliana/bridalshower/pages/README.md
/.idea/vcs.xml

/site/src/jvmMain/kotlin/org/luisjulliana/bridalshower/envProperties
